.wrapper {
    font-family: Roboto, sans-serif;
}

.calculating {
    width: 400px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #fff;
    border-image: linear-gradient(-45deg, #3498db, #e67e22) 1
}

.calculating__name p {
    background-color: #f2faf4;
}

.calculating input {
    margin: 0 auto;
    padding: 2px 10px;
    display: flex;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}
